:root {
     --cor-de-fundo: #1E1E1E;
      --verde: #6FFF57;
       --branco: #FFFFFF;
        --botao-ativo: #3A375E; 
        --botao-inativo: rgba(58, 55, 94, 0.5);
         --texto-fundo: rgba(58, 55, 94, 0.3); 
        } 
        @import url(‘https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap’);
        body {
            background-color: var(--cor-de-fundo);
            color: var(--branco); 
            font-family: ‘Chakra Petch’, sans-serif;
            }.cabecalho{
                background-color: var(--cor-do-cabecalho);
                padding: 1em;
                }
                .container{
                display: flex;
                align-items: center;
                }
                .container__imagem, .container__frase{
                padding: 1em;
                }
                .container__titulo, .container__frase{
                display:none;
                }

                @media screen and (min-width: 1020px)  {.container__frase}
                padding-left: 5em;
                font-size: 20px;
                display: :block;
                {
                    
                }